* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: rgb(224, 255, 255);
}
#title {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}
.container {
  padding: 10px;
  max-width: 600px;
  min-width: 400px;
  border-radius: 10px;
}
.faq-container {
  background-color: white;
  box-shadow: darkcyan 4px 6px 7px;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 0px;
}
.ques-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.faq-text {
  display: flex;
  align-items: center;
  width: 94%;
  padding: 10px;
}
.icon-container {
  width: 4%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-container div img {
  width: 100%;
  height: auto;
}
.plus-icon {
  display: block;
}
.plus-icon .show-icon {
  display: none;
}
.minus-icon {
  display: none;
}
.show-icon .minus-icon {
  display: block;
}
.faq-ans {
  display: none;
  width: 100%;
  border-top: 1px solid black;
  padding: 10px;
  font-size: 14px;
  line-height: 23px;
  margin-top: 10px;
}
.show-text {
  display: block;
}
